.form{
    width: 700px;
    height: 500px;
    background-color: bisque;
}


.results{
    display: inline-block;
    
}

.chart{
    display: inline-block;
    
}

.chart-title{
    display: inline-block;

}

